@model CasoPractico1_G8.Models.Ruta

<h2>Eliminar Ruta</h2>
<p>¿Está seguro de eliminar la ruta @Model.Nombre?</p>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>