@model CasoPractico1_G8.Models.Ruta

<h2>Editar Ruta</h2>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="CodigoRuta"></label>
        <input asp-for="CodigoRuta" class="form-control" required readonly />
    </div>
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Estado"></label>
        <select asp-for="Estado" class="form-control">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select>
    </div>
    <div class="form-group">
        <label>Paradas</label>
        <select asp-for="Paradas" class="form-control" multiple="multiple">
            @if (ViewData["Paradas"] != null)
            {

                var paradas = ViewData["Paradas"] as MultiSelectList;

                foreach (var parada in paradas)

                {
                    <option value="@parada.Value">@parada.Text</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label>Horarios</label>
        <select asp-for="Horarios" class="form-control" multiple="multiple">
            @if (ViewData["Horarios"] != null)
            {

                var horarios = ViewData["Horarios"] as MultiSelectList;

                foreach (var horario in horarios)

                {
                    <option value="@horario.Value">@horario.Text</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
